In [106]:
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
import requests
from selenium import webdriver

import time
import re
from urllib.request import urlopen
import json
from pandas.io.json import json_normalize

In [108]:
response = requests.get('https://venicitimes.com/collections/watches')
html = response.text
soup = BeautifulSoup(html, 'lxml')

In [109]:
script = soup.find('script', text = re.compile('var meta')).text.strip()[182:-79].replace('\\', '')
data = json.loads(script)

In [110]:
watches = data['products']

In [111]:
df_read = pd.DataFrame(watches)

watches_again = df_read['variants'][2][0]

In [112]:
df_read = pd.DataFrame(watches)

watches_again = df_read['variants'][2][0]

dict_watches = {}

for i in range(0, len(watches)-1) :
    dict_watches[df_read['variants'][i][0]['name']] = df_read['variants'][i][0]

In [113]:
df_final = pd.DataFrame(dict_watches).transpose().drop(columns=['id', 'public_title']).set_index('name')

df_final['price'] = df_final['price'] / 100

df_final

                   price        sku
name
CAESAR'S GOLD      175.0  VTBG01001
CAESAR'S SILVER    140.0  VTCS01001
MERCURY            130.0  VTMB01004
ATHENA             110.0  VTWW01003
HERA                90.0  VTWW01003
MERCURY - LEATHER  180.0  VTMB01004
ATHENA - LEATHER   110.0  VTWW01003
Celeste - Dark     120.0